body
{
  background-image: url('img/back.jpg');
  background-size: 1366px;
  background-position: top;
}

.error
{
  background-image: none;
  background-color: rgba(255, 0, 0, .75);
}

.nopad
{
  padding: 0px;
}

.nomarg
{
  margin: 0px;
}

.content
{
  background-color: rgba(255, 255, 255, .8);
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: #333;
}

p
{
  font-size: 1.25em;
}

hr
{
    border-color: #aaa;
}

.customTable
{
  width: 80%;
  margin: 0px auto 15px auto;
}

.customTable tr
{
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #aaa;
}

.customTable tr:last-child
{
  border-style: solid;
  border-width: 0px;
  border-color: #f00;
}

.customTable td
{
    padding: 5px;
}
